<img class="logo" src="images/doughboys.jpeg" />

<div class="main-container">
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
</div>
