<img class="logo" src="images/doughboys.jpeg" />

<div class="main-container">
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Wendy's!" @src="audio/wendys.mp3"/>
  <SoundButton @text="This is gonna burn..." @src="audio/burn.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
  <SoundButton @text="Howdy Ho" @src="audio/howdy-ho.mp3"/>
</div>
