:root {
  --screen-xs: 600px;
  --screen-sm: 900px;
  --screen-md: 1200px;
  --screen-lg: 1800px;
}

.main-container {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sound-button {
  background-color: lightgray;
  width: 20%;
  height: 15vw;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
}

@media screen and (min-width: 480px) and (max-width: 599px) {
  .sound-button {
    width: 45%;
    height: 35vw;
  }
}

@media screen and (max-width: 479px) {
  .sound-button {
    width: 75%;
    height: 65vw;
  }
}
